<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- elsif template == 'index' -%}
      {{ page_title }}
    {%- else -%}
      {{ page_title }} &ndash; GRP1
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.css">

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body>
  <header class="grp-wrap grp-header">
    <div class="grp-header__bar"></div>
    <a href="javascript:void(0)" class="grp-header__hamburger">
      <i class="fas fa-bars"></i>
    </a>
    <div class="grp-header__nav">
        <a href="javascript:void(0)" class="close">
          <i class="fas fa-times"></i>
        </a>
        <a href="/" {% if template == 'index' %} class="active" {% endif %}>Home</a>
        <a href="/pages/about" {% if page.handle == 'about' %} class="active" {% endif %}>About</a>
        <a href="/pages/founder" {% if page.handle == 'founder' %} class="active" {% endif %}>Founder</a>
        <a href="/collections" {% if template contains 'collection' %} class="active" {% endif %} {% if template contains 'product' %} class="active" {% endif %}>Collections</a>
        <a href="/pages/store-locator" {% if template contains 'locator' %} class="active" {% endif %}>Store Locator</a>
        {% if shop.customer_accounts_enabled %}
          {% if customer  %}
            <a href="/cart" {% if template contains 'cart' %} class="active" {% endif %}>Your Cart ({{cart.item_count}})</a>
          {% else %}
            <a href="/account/login" {% if template contains 'login' %} class="active" {% endif %}>Partner Login</a>
          {% endif %}
        {% endif %}
    </div>
    <a href="/" class="grp-header__logo">
      {{ 'grp-logo.svg' | asset_url | img_tag }}
    </a>
  </header>
  {{ content_for_layout }}
  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
</body>
</html>
